@import url(modal.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root{
        --dark: black;
        --light: white;
        --medium: #2a2a2a;
        --confirma: #18c818;
        --cancela: #bc0707;

}

body {
  height: 100vh;
  width: 100%;
  background-image: url(../../../imagens/boxe.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
}

button{
        padding: 1em;
        background-color: black;
        color:white;
        border-radius: 5px;
        transition: .5s;
        cursor: pointer;
}

button:hover{
        background-color: rgb(42, 42, 42);
}
